{% extends 'blog/base.html' %} 
{% load cloudinary %}

{% block content %}
<main class="main-content single-post section-wrapper">
  <div class="single-post-content section-content-narrow">
    <div class="single-post-gap section-gap">

      {% if post.cover and post.cover_in_post_content %}
        <div class="single-post-cover pb-base">
          <img loading="lazy" src="{{ post.cover.url }}" alt="{{ post.title }}">
        </div>
      {% endif %}
      <h2 class="single-post-title pb-base center">
        {{ post.title }}
      </h2>

      <div class="post-meta pb-base">
        <div class="post-meta-item">
        </div>
        <div class="post-meta-item">
          <span class="post-meta-link" >
            <i class="fa-solid fa-calendar-days"></i>
            <span>
              {{ post.created_at | date:"d/m/Y" }}
            </span>
          </a>
        </div>
        {% if post.category %}
          <div class="post-meta-item">
            <a 
              class="post-meta-link" 
              href="{% url "blog:category" post.category.slug %}"
            >
              <i class="fa-solid fa-tag"></i>
              <span>
                {{post.category.name}}
              </span>
            </a>
          </div>
        {% endif %}
      </div>

      <p class="single-post-excerpt pb-base">
        {{ post.excerpt | safe }}
      </p>

      <div class="separator"></div>

      <div class="single-post-content">
        {{ post.content | safe }}
      <div class="whatsapp-wrapper">

    {% with mensagem_fixa="Olá, gostaria de mais informações sobre este modelo: " %}
        
        {# O post.title JÁ ESTÁ SENDO CODIFICADO na variável titulo_codificado. #}
        {% with titulo_codificado=post.title|urlencode %}
        
            {% with url_do_post_codificada=request.build_absolute_uri|urlencode %}
                
                {# Corrigido: A estrutura do link. O WhatsApp precisa do texto completo codificado APÓS o 'text='  #}
                {% with texto_completo=mensagem_fixa|add:titulo_codificado|add:"%0A%0A**Link da Postagem:** "|add:url_do_post_codificada %}
                    
                    <a href="https://wa.me/message/YELKYCQZVICZB1?text={{ texto_completo }}" 
                        target="_blank" 
                        class="whatsapp-link"
                        aria-label="Contate-nos pelo WhatsApp">
                        
                        <i class="fab fa-whatsapp"></i> 
                        
                        Para mais informações, contate no nosso WhatsApp!
                    </a>
                
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endwith %}

    <p style="margin-top: var(--spacing-micro); font-size: var(--fs-smlst); color: var(--clr-gray-base);">
        Clique no botão acima para iniciar uma conversa.
    </p>
</div>
         
        {% if post.tags.exists %}
          <div class="post-tags">
            <span>Tags: </span>
            {% for tag in post.tags.all %}
              <a class="post-tag-link" href="{% url "blog:tag" tag.slug %}">
                <i class="fa-solid fa-link"></i>
                <span>{{ tag.name }}</span>
              </a>         
            {% endfor %}  
          </div>
        {% endif %}
      </div>
    
    </div>
  </div>
</main>

{% endblock content %}